/* ===================================
=margins
=================================== */

/* none */
.mbs-none {
  margin-block-start: 0;
}

.mie-none {
  margin-inline-end: 0;
}

.mbe-none {
  margin-block-end: 0;
}

.mis-none {
  margin-inline-start: 0;
}
