/* ===================================
=body
=================================== */

@font-face {
  font-family: "Recia";
  src: url("../../fonts/recia-variable.woff2") format("woff2-variations");
  src: url("../../fonts/recia-variable.woff2") format("woff2") tech("variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recia";
  src: url("../../fonts/recia-variable-italic.woff2") format("woff2-variations");
  src: url("../../fonts/recia-variable-italic.woff2") format("woff2") tech("variations");
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("../../fonts/supreme-variable.woff2") format("woff2-variations");
  src: url("../../fonts/supreme-variable.woff2") format("woff2") tech("variations");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("../../fonts/supreme-variable-italic.woff2") format("woff2-variations");
  src: url("../../fonts/supreme-variable-italic.woff2") format("woff2") tech("variations");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}