/* ===================================
=container
=================================== */

.container {
  --container-padding: max(18px, 3%);
  --container-max-size: 1500px;

  max-inline-size: var(--container-max-size);
  padding-inline: var(--container-padding);
  margin: 0 auto;
}
