/* ===================================
=quote
=================================== */

.quote {
  margin: 0;
  padding: 0;
}

.quote-text {
  margin: 0;
  font-weight: 300;
  font-family: var(--fontstack-alt);
  font-style: italic;
  line-height: 1.2;
  font-size: clamp(33 / 16 * 1rem, 1.581rem + 2.202vi, 57 / 16 * 1rem);
  color: var(--color-text-highlight);

  & p:last-child {
    margin-block-end: 0.42em;
  }
}

.quote-author {
  font-size: var(--fontsize-300);
}
