/* ===================================
=rich text
=================================== */

.richtext {
  :where(h2, h3, h4, h5, h6) {
    font-weight: 500;
    line-height: 1.32;
    font-family: var(--fontstack-main);
    color: white;
    margin-block-start: 2.1em;
    margin-block-end: 1.2em;
  }

  h2 {
    font-size: var(--fontsize-700);
  }

  h3 {
    font-size: var(--fontsize-600);
  }

  h4 {
    font-size: var(--fontsize-600);
  }

  & h2:first-child {
    margin-block-start: 0;
  }
}
