/* ===================================
=sitefooter
=================================== */

.sitefooter {
  display: block;
}

.sitefooter-copyright {
  /* 
  - hsl(): fonction de couleur avec transparence et pas de modification de la hue, de la saturation ou de la lightness 
  - doc: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/hsl
   */
  border-block-start: 1px solid hsl(from white h s l / 12%);
  padding-block: 18px;
  margin: 0;
}
